.homepage section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}
.win-listview 
{
    width:40%;
    height:450px;
}
.win-item {
    width:500px;
    height:25px;
}
#nextPage {
    margin-top: 10px;
}
#homeListSection {
    margin-top: 65px;
}