.details section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

@media screen and (-ms-view-state: snapped) {
    .details section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .details section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}
#template img {
    width:100px;
    height:100px;
    display:block;
}
#template {
    width: 80%;
    height: 700px;
    overflow-y:scroll;
    background-color: #2B2B2B;
    color: #EBAF3C;
    padding:20px;
}